annotated-types==0.7.0
boto3==1.42.6
botocore==1.42.6
certifi==2025.11.12
geopandas==1.1.1
jmespath==1.0.1
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.12.0
pyogrio==0.12.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
s3transfer==0.16.0
shapely==2.1.2
six==1.17.0
sqlalchemy==2.0.45
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.6.1
